.hero {
  height: 80vh;
  margin: 0 3rem;
}
.hero .row {
  height: 100%;
  background: url("../../../Assets/images/bg.svg") center / cover no-repeat
    fixed;
  border-radius: 2rem;
  position: relative;
}

.hero .row .col {
  margin-left: 5rem;
}
.hero .row .col .subtitle {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 4rem;
  font-weight: 500;
}
.hero .row .col h1 {
  font-family: "Aclonica", sans-serif;
  font-size: 13rem;
  line-height: 1;
}
.hero .row .col h1 .i {
  color: var(--primary-color);
  position: relative;
}
.hero .row .col h1 .i::before {
  content: "ı";
  position: absolute;
  color: var(--black-color);
}

.hero .row .col p {
  font-size: 2rem;
  margin-bottom: 6rem;
}
.hero .row .col .btn {
  display: inline-block;
  padding: 1.5rem 6rem;
  border-radius: 10px;
  color: var(--white-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 25px;
  cursor: pointer;
  box-shadow: 1px 5px 15px rgba(255, 81, 81, 0.758);
  background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #ff5e3a 100%);
}

/* .hero .row img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
} */

.hero_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero_container img {
  width: 36%;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1015px) {
  .hero {
    height: auto;
  }
  .hero .hero_container {
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 20px;
    padding-bottom: 20px;
  }
  .hero .hero_container img {
    width: 100%;
    position: relative;
  }
  .hero .row .col {
    margin: 20px 0;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .hero .row .col h1 {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .hero .row .col .subtitle {
    font-size: 1.6rem;
  }
  .hero .row .col h1 {
    font-size: 7rem;
  }
  .hero .row .col p {
    font-size: 1.6rem;
  }

  .hero .row .col .btn {
    padding: 1.2rem 4rem;
  }
}

@media (max-width: 567px) {
  .hero .row .col .subtitle {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .hero .row .col h1 {
    font-size: 5rem;
  }
  .hero .row .col p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .hero .row .col .btn {
    padding: 1.2rem 4rem;
  }
}
